<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Just Eat!</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="nav"></div>

    <div class="main-wrapper">
      <div class="side-wrapper">
        <div class="pop-up"></div>
        <div class="sidebar">
          <div class="title-sb">
            <svg
              data-v-67ec89c6=""
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 17 15"
              class="c-ficon c-ficon--cuisine"
            >
              <path
                data-v-67ec89c6=""
                d="M5.1 4h3.6a.4.4 0 0 1 0 .8h-.4l-1.2 9.3a.4.4 0 0 1-.4.3h-4a.4.4 0 0 1-.4-.3l-1-9.3H.7a.4.4 0 1 1 0-.8h3.6V2.2L2.8.7a.4.4 0 1 1 .6-.6L5 1.7a.4.4 0 0 1 .1.3v2zm2.4.8H2l1 8.8h3.3l1-8.8zm7.2 4v-.4c0-.7-.5-1.2-1.2-1.2h-2.4c-.6 0-1.2.5-1.2 1.2v.4h4.8zm.8 3.2v.4a2 2 0 0 1-2 2h-2.4a2 2 0 0 1-2-2V12a1.7 1.7 0 0 1-.4 0 .4.4 0 1 1 0-.8c.3 0 .4 0 .7-.3.4-.4.6-.5 1.1-.5.5 0 .8.1 1.2.5l.6.3c.3 0 .4 0 .7-.3.4-.4.6-.5 1.1-.5.5 0 .8.1 1.2.5l.6.3a.4.4 0 1 1 0 .8 1.7 1.7 0 0 1-.4 0zm-5.6-.5v.9c0 .7.6 1.2 1.2 1.2h2.4c.7 0 1.2-.5 1.2-1.2v-1l-.6-.2c-.3 0-.3 0-.6.3-.4.4-.7.5-1.2.5s-.7-.1-1.1-.5c-.3-.2-.4-.3-.7-.3-.2 0-.3 0-.6.3zm-.8-3.1c0-1.1 1-2 2-2h2.4a2 2 0 0 1 2 2v.8a.4.4 0 0 1-.4.4H9.5a.4.4 0 0 1-.4-.4v-.8z"
              ></path>
            </svg>
            <h3>Tutte le altre (A-Z)</h3>
            <button class="reset">Resetta</button>
          </div>
          <div class="side-option">
            <div>
              <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="c-ficon c-ficon--tick FilterPill_c-filterPill-icon_2Vk2V"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg><span>AsianFood</span><span class="left">6</span></button>
            </div>
            <div>
              <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="c-ficon c-ficon--tick FilterPill_c-filterPill-icon_2Vk2V"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg><span>Bevande</span><span class="left">12</span></button>
            </div>
            <div>
              <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="c-ficon c-ficon--tick FilterPill_c-filterPill-icon_2Vk2V"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg><span>Cinese</span><span class="left">4</span></button>
            </div>
            <div>
              <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="c-ficon c-ficon--tick FilterPill_c-filterPill-icon_2Vk2V"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg><span>Fritti</span><span class="left">22</span></button>
            </div>
            <div>
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="c-ficon c-ficon--tick FilterPill_c-filterPill-icon_2Vk2V"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg>
                <span>Giapponese</span><span class="left">27</span>
              </button>
            </div>
            <div>
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="c-ficon c-ficon--tick FilterPill_c-filterPill-icon_2Vk2V"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg>
                <span>Gustali a pranzo</span><span class="left">33</span>
              </button>
            </div>
            <div>
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="c-ficon c-ficon--tick FilterPill_c-filterPill-icon_2Vk2V"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg>
                <span>Hamburger</span><span class="left">19</span>
              </button>
            </div>
            <div>
              <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="c-ficon c-ficon--tick FilterPill_c-filterPill-icon_2Vk2V"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg><span>Italiano</span><span class="left">40</span></button>
            </div>
            <div>
              <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="c-ficon c-ficon--tick FilterPill_c-filterPill-icon_2Vk2V"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg><span>Panini</span><span class="left">27</span></button>
            </div>
            <div>
              <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="c-ficon c-ficon--tick FilterPill_c-filterPill-icon_2Vk2V"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg><span>Pinsa</span><span class="left">32</span></button>
            </div>
          </div>
          <div class="more">
            <button>
              Vedi altri
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 11.171582 6.5885787"
                class="c-ficon c-ficon--chevron"
              >
                <path
                  fill-rule="evenodd"
                  d="m 0.29029267,0.29828979 a 1,1 0 0 1 1.41699993,0 l 3.876,3.87400011 3.8769996,-3.87800011 a 1,1 0 0 1 1.4170008,0 1,1 0 0 1 0,1.41700011 L 6.2942926,6.2942896 a 1,1 0 0 1 -1.417,0 L 0.29429267,1.7112899 a 1,1 0 0 1 -0.004,-1.41300011 z"
                ></path>
              </svg>
            </button>
          </div>
          <div class="title-sb">
            <svg
              data-v-67ec89c6=""
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 23 15"
              class="c-ficon c-ficon--sliders"
            >
              <path
                data-v-67ec89c6=""
                d="M.88 3.3a.55.55 0 1 1 0-1.1h4.4a.55.55 0 1 1 0 1.1H.88zm20.9-1.1a.55.55 0 0 1 0 1.1h-11a.55.55 0 0 1 0-1.1h11zm0 8.8a.55.55 0 0 1 0 1.1h-4.4a.55.55 0 1 1 0-1.1h4.4zM.88 12.1a.55.55 0 0 1 0-1.1h11a.55.55 0 0 1 0 1.1h-11zm5.5-11c-.3 0-.55.25-.55.55v2.2c0 .3.25.55.55.55h3.3c.3 0 .55-.25.55-.55v-2.2c0-.3-.24-.55-.55-.55h-3.3zm0-1.1h3.3c.91 0 1.65.74 1.65 1.65v2.2c0 .91-.74 1.65-1.65 1.65h-3.3c-.9 0-1.65-.74-1.65-1.65v-2.2C4.73.74 5.47 0 6.38 0zm6.6 9.9c-.3 0-.55.25-.55.55v2.2c0 .3.25.55.55.55h3.3c.3 0 .55-.25.55-.55v-2.2c0-.3-.24-.55-.55-.55h-3.3zm0-1.1h3.3c.91 0 1.65.74 1.65 1.65v2.2c0 .91-.74 1.65-1.65 1.65h-3.3c-.9 0-1.65-.74-1.65-1.65v-2.2c0-.91.74-1.65 1.65-1.65z"
              ></path>
            </svg>
            <h3>Filtri</h3>
            <button class="reset">Resetta</button>
          </div>
          <div class="side-option">
            <div>
              <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="c-ficon c-ficon--tick FilterPill_c-filterPill-icon_2Vk2V"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg><span>Offerte Speciali</span><span class="left">7</span></button>
            </div>
            <div>
              <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="c-ficon c-ficon--tick FilterPill_c-filterPill-icon_2Vk2V"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg><span>Consegna Gratuita</span><span class="left">52</span></button>
            </div>
            <div>
              <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="c-ficon c-ficon--tick FilterPill_c-filterPill-icon_2Vk2V"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg><span>5+ stelle</span><span class="left">34</span></button>
            </div>
            <div>
              <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="c-ficon c-ficon--tick FilterPill_c-filterPill-icon_2Vk2V"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg><span>Aperto ora</span><span class="left">19</span></button>
            </div>
            <div>
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="c-ficon c-ficon--tick FilterPill_c-filterPill-icon_2Vk2V"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg>
                <span>Ritiro al locale</span><span class="left">27</span>
              </button>
            </div>
            <div>
                <button><span  class="transparent">Nuovo</span><span class="left transparent">0</span></button>
              </div>

              <div>
                <button>
                  <span class="transparent">Halal</span><span class="left transparent">0</span>
                </button>
              </div>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="form"></div>
        <div class="sub-form"></div>
        <div class="card-wrapper"></div>
      </div>
    </div>
  </body>
</html>
