* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .nav {
    height: 300px;
    width: 100%;
    background-color: #fb6100;
  }
  .main-wrapper {
    width: 65%;
    height: 100%;
    margin: 0 auto;
    display: flex;
  }
  .main-wrapper .side-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background-color: rgb(255, 255, 255);
    .title-sb {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 3px;
      height: 5%;
      svg {
        max-width: 20px;
      }
      h3 {
        font-size: 1rem;
        padding: 3px 7px 0 7px;
        font-weight: normal;
      }
      .reset {
        margin-left: auto;
        border-radius: 50rem;
        height: 35px;
        width: 70px;
        border: 1px solid rgba(0, 0, 0, 0);
        border-color: #efedea;
        // margin-top: 16px;
        font-weight: bold;
        background-color: white;
        &:focus {
          outline: 2px solid blue;
        }
        &:hover {
          cursor: pointer;
          background-color: #f4f3f1;
        }
      }
    }
    .side-option {
      display: flex;
      flex-direction: column;
      &>div {
        display: flex;
        border-radius: 50rem;
        // max-height: 40px;
        max-width: 100%;
        border: 1px solid rgba(0, 0, 0, 0);
        border-color: #efedea;
        margin-top: 16px;
        background-color: white;
        color: #242e30;
        font-weight: lighter;
        // padding-left: 15px;
        align-items: center;

        button {
          border: none;
          height: 40px;
          width: 100%;
          border-radius: 50rem;
          background-color: transparent;
          display: flex;
          align-items: center;
          padding-inline: 20px;
          gap: 10px;

          svg {
            display: none;
            width: 7%;
          }
          &:hover {
            cursor: pointer;
            // background-color: #f4f3f1;

            svg {
              display: flex;
            }
          }
          &:focus {
            outline: 2px solid blue;
            svg {
              display: flex;
            }
          }
          .left {
            margin-left: auto;
          }
          // .transparent {
          //   color: #efedea;
          // }
        }
      }
    }
    .more {
      display: flex;
      justify-content: center;
      button {
        display: flex;
        width: 40%;
        justify-content: center;
        align-items: center;
        gap: 7px;
        border: none;
        background-color: transparent;
        padding-top: 10px;
        font-size: 16px;
        &:hover {
          text-decoration: underline;
        }
        &:focus {
          p {
            display: flex;
          }
        }
        svg {
          max-width: 15%;
        }
      }
    }
  }
}
