@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500&display=swap%22");

@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap%22");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap%22");

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap%22");

* {
  font-family: "Konkhmer", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 10px;
  padding: 0;
}

.nation-menu {
  width: 100%;
  max-width: 370px;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.11);
}

.nation-menu .nation-menu-title {
    padding: 1.5rem 1rem;
    font-size: 20px;
    letter-spacing: 0.1px;
    font-weight: 600;
}
.nation-menu .nation-menu-options {
  display: flex;
    height: auto;
  flex-wrap: wrap;
}

.nation-menu-options .nation-items .nation-button {
  width: 9rem;
  height: 2rem;
  color: #242e30;
  white-space: nowrap;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.9rem;
  padding: 0.2rem 1rem;
}

.nation-menu-options .nation-items .nation-button:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.582);
}
.nation-items .nation-button img {
  width: 1.6rem;
  height: auto;
}
