body{
    padding: 0px;
    margin: 0px;
}

.container{
display: flex;
justify-content: center;
align-items: center;
width: 65%;
max-width: 1500px;
margin: 30px auto;
}

h1{
    text-align: center;
}

.container .smartphone img{
    height: auto;
    width: 50%;
}

.ios{
    height: 130px;
    cursor: pointer;
}

.google {
    height: 61px;
    cursor: pointer;
    
}

.button{
    display: flex;
    justify-content: center;


}
.button > button{
    border: none;
    background-color: transparent;
}