body{
    padding: 35px;
    margin: 0px;
}

.container{
display: flex;
justify-content:space-evenly ;
}

h1{
    text-align: center;
}

img{
    height: 260px;

}

.ios{
    height: 130px;
    padding-left: 76px;
    cursor: pointer;
}

.google {
    height: 61px;
    cursor: pointer;
    
}

.button{
    display: flex;


}
.button > button{
    border: none;
    background-color: transparent;
}