body{
    padding: 0px;
    margin: 0px;
}

.container{
display: flex;
justify-content:space-evenly ;
margin-top: 5rem;
margin-bottom: 5rem;
align-items: center;
}

h1{
    text-align: center;
}

.smartphone > img{
    max-height: 270px;
    width: 100%;

}

.ios{
    height: 130px;
    padding-left: 76px;
    cursor: pointer;
}

.google {
    height: 61px;
    cursor: pointer;
    
}

.button{
    display: flex;
    justify-content: center;
}
.button > button{
    border: none;
    background-color: transparent;
}