<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="card.css">
    <link rel="stylesheet" href="../common.css">
</head>
<body>
<!-- inizio CARD WRAPPER -->
    <div class="card-container">

        <!-- INIZIO CARD -->
        <div class="card">
            
                <img src="cardpic1.webp" alt="pizzacard">
                <div class="title-card">
                    <div>
                        <p>Pizza</p>
                    </div>
                </div>
        </div>
        <!-- FINE CARD -->
        
        <!-- INIZIO CARD -->
        <div class="card">
            
                <img src="hamburger.webp" alt="hamburger">
            
            <div class="title-card">
                <div>
                    <p>Hamburger</p>
                </div>
            </div>
        </div>
        <!-- FINE CARD -->
        <!-- INIZIO CARD -->
        <div class="card">
           
                <img src="fritti.webp" alt="hamburger">
                
                <div class="title-card">
                    <div>
                        <p>Fritti</p>
                    </div>
                </div>
        </div>
        <!-- FINE CARD -->
        <!-- INIZIO CARD -->
        <div class="card">
            
                <img src="americano.webp" alt="hamburger">
                <div class="title-card">
                    <div>
                        <p>Americano</p>
                    </div>
                </div>
            
        </div>
        <!-- FINE CARD -->
        <!-- INIZIO CARD -->
        <div class="card">
           
                <img src="cinese.webp" alt="hamburger">
                <div class="title-card">
                    <div>
                        <p>Cinese</p>
                    </div>
                </div>
            
        </div>
        <!-- FINE CARD -->
        <!-- INIZIO CARD -->
        <div class="card">
       
                <img src="kebab.jpg" alt="hamburger">
                <div class="title-card">
                    <div>
                        <p>Kebab</p>
                    </div>
                </div>
           
        </div>
        <!-- FINE CARD -->




    </div>
    <!-- FINE CARD WRAPPER -->
  
</body>
</html>