* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .upper-navbar {
    box-shadow: 1px 1px 8px rgba(36, 46, 48, 0.3882352941);
    margin: 0 !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100% !important;
  }
  .upper-navbar .upper-logo {
    padding: 0 !important;
    flex-grow: 1;
    justify-content: center;
  }
  .upper-navbar .upper-logo .justeat-logo {
    width: 100px;
    display: flex;
    align-items: center;
  }
  .upper-navbar .upper-left {
    display: block;
  }
  .upper-navbar .upper-left button {
    width: 50px;
    border: none;
    background: transparent;
  }
  .upper-navbar .upper-right {
    display: none !important;
  }
  .upper-navbar .upper-right2 {
    display: flex !important;
  }
  .bottom-navbar {
    width: 90% !important;
    display: flex;
    height: 130px;
    padding-top: 0;
    overflow-x: scroll;
    margin-inline: auto;
  }
  .bottom-navbar .food-card {
    width: 100% !important;
    justify-content: unset !important;
    margin-inline: 0 !important;
  }
  .bottom-navbar .food-card .gustali-a-pranzo,
  .bottom-navbar .food-card .fritti,
  .bottom-navbar .food-card .pizza,
  .bottom-navbar .food-card .hamburger,
  .bottom-navbar .food-card .panini,
  .bottom-navbar .food-card .sushi,
  .bottom-navbar .food-card .cinese,
  .bottom-navbar .food-card .panini2 {
    width: 130px !important;
    height: 100px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    border: none;
    margin: 0 30px !important;
    padding: 10px;
  }
  .bottom-navbar .food-card .gustali-a-pranzo img,
  .bottom-navbar .food-card .fritti img,
  .bottom-navbar .food-card .pizza img,
  .bottom-navbar .food-card .hamburger img,
  .bottom-navbar .food-card .panini img,
  .bottom-navbar .food-card .sushi img,
  .bottom-navbar .food-card .cinese img,
  .bottom-navbar .food-card .panini2 img {
    width: 100px !important;
    height: 80px !important;
    background-color: #ff8810;
    border-radius: 10px;
    position: relative;
  }
  .main-wrapper .side-wrapper {
    display: none !important;
  }
}
body {
  width: 100vw;
  height: 100vh;
}
body .upper-navbar {
  width: 65%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  display: flex;
  padding-top: 0;
}
body .upper-navbar .upper-logo {
  display: flex;
  width: 120px;
  height: auto;
  /* padding-top: 15px; */
  /* padding-left: 13px; */
  justify-content: center;
  align-items: center;
}
body .upper-navbar .upper-logo .justeat-logo {
  background-color: transparent;
  border: none;
}
body .upper-navbar .upper-logo img {
  width: 100%;
}
body .upper-left {
  display: none;
}
body .upper-right {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 25px;
  padding-right: 10px;
}
body .upper-right a {
  text-decoration: none;
  font-weight: 800;
  color: #242e30;
  font-size: 0.9rem;
  line-height: 1.5;
  display: flex;
}
body .upper-right svg {
  height: 20px;
  padding-right: 5px;
}
body .upper-right2 {
  display: none;
  margin-left: auto;
  align-items: center;
  gap: 25px;
  padding-right: 10px;
}
body .upper-right2 a {
  text-decoration: none;
  font-weight: 800;
  color: #242e30;
  font-size: 0.9rem;
  line-height: 1.5;
  display: flex;
}
body .upper-right2 svg {
  width: 30px;
  padding-right: 5px;
}

.bottom-navbar {
  width: 65%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  display: flex;
  padding-top: 0;
}
.bottom-navbar .food-card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: -moz-fit-content;
  height: fit-content;
}
.bottom-navbar .food-card .gustali-a-pranzo,
.bottom-navbar .food-card .fritti,
.bottom-navbar .food-card .pizza,
.bottom-navbar .food-card .hamburger,
.bottom-navbar .food-card .panini,
.bottom-navbar .food-card .sushi,
.bottom-navbar .food-card .cinese {
  width: 12%;
  height: 14%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  border: none;
  margin: 0 4px;
  padding: 10px;
}
.bottom-navbar .food-card .gustali-a-pranzo img,
.bottom-navbar .food-card .fritti img,
.bottom-navbar .food-card .pizza img,
.bottom-navbar .food-card .hamburger img,
.bottom-navbar .food-card .panini img,
.bottom-navbar .food-card .sushi img,
.bottom-navbar .food-card .cinese img {
  width: 100%;
  background-color: #ff8810;
  border-radius: 10px;
  position: relative;
}
.bottom-navbar .food-card .gustali-a-pranzo .button-description,
.bottom-navbar .food-card .fritti .button-description,
.bottom-navbar .food-card .pizza .button-description,
.bottom-navbar .food-card .hamburger .button-description,
.bottom-navbar .food-card .panini .button-description,
.bottom-navbar .food-card .sushi .button-description,
.bottom-navbar .food-card .cinese .button-description {
  display: flex;
  padding-top: 15px;
  gap: 4px;
}
.bottom-navbar .food-card .gustali-a-pranzo .button-description svg,
.bottom-navbar .food-card .fritti .button-description svg,
.bottom-navbar .food-card .pizza .button-description svg,
.bottom-navbar .food-card .hamburger .button-description svg,
.bottom-navbar .food-card .panini .button-description svg,
.bottom-navbar .food-card .sushi .button-description svg,
.bottom-navbar .food-card .cinese .button-description svg {
  width: 0;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s;
}
.bottom-navbar .food-card .gustali-a-pranzo:hover,
.bottom-navbar .food-card .fritti:hover,
.bottom-navbar .food-card .pizza:hover,
.bottom-navbar .food-card .hamburger:hover,
.bottom-navbar .food-card .panini:hover,
.bottom-navbar .food-card .sushi:hover,
.bottom-navbar .food-card .cinese:hover {
  cursor: pointer;
}
.bottom-navbar .food-card .gustali-a-pranzo:hover svg,
.bottom-navbar .food-card .fritti:hover svg,
.bottom-navbar .food-card .pizza:hover svg,
.bottom-navbar .food-card .hamburger:hover svg,
.bottom-navbar .food-card .panini:hover svg,
.bottom-navbar .food-card .sushi:hover svg,
.bottom-navbar .food-card .cinese:hover svg {
  width: 16px;
  transform: scale(1);
  opacity: 1;
}
.bottom-navbar .food-card .gustali-a-pranzo:focus,
.bottom-navbar .food-card .fritti:focus,
.bottom-navbar .food-card .pizza:focus,
.bottom-navbar .food-card .hamburger:focus,
.bottom-navbar .food-card .panini:focus,
.bottom-navbar .food-card .sushi:focus,
.bottom-navbar .food-card .cinese:focus {
  outline: 2px solid #4996fd;
  border-radius: 10px;
  color: #437c3e;
}
.bottom-navbar .food-card .gustali-a-pranzo:focus svg,
.bottom-navbar .food-card .fritti:focus svg,
.bottom-navbar .food-card .pizza:focus svg,
.bottom-navbar .food-card .hamburger:focus svg,
.bottom-navbar .food-card .panini:focus svg,
.bottom-navbar .food-card .sushi:focus svg,
.bottom-navbar .food-card .cinese:focus svg {
  display: flex;
}
.bottom-navbar .food-card .gustali-a-pranzo img {
  background-color: #5b3d5b;
}
.bottom-navbar .food-card .fritti img {
  background-color: #d6663a;
}
.bottom-navbar .food-card .hamburger img {
  background-color: #eabd45;
}
.bottom-navbar .food-card .panini img {
  background-color: #c9d9dd;
}
.bottom-navbar .food-card .sushi img {
  background-color: #dea7b1;
}
.bottom-navbar .food-card .cinese img {
  background-color: #e1872f;
}
.bottom-navbar .food-card .panini2 img {
  background-color: #a53f97;
}/*# sourceMappingURL=style.css.map */