/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap%22");

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Walter+Turncoat&display=swap');

/* COLORI */

:root{
    --color-primary: #fb6100;
    --color-title:#242e30;
    --color-subtitle:#425457;
    --color-border:#8a8786;
}
html, 
body{
    font-family: 'Lato', sans-serif;
}
h1{
    font-family: "Konkhmer Sleokchher" , sans-serif;
}