<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>forma centrale</title>
    <link rel="stylesheet" href="button.css" />
  </head>
  <body>
    <div class="central-page">
      <section class="sectionsearch">
        <div class="sectiontext">
          <div class="sectiontitle">
            <span>Il bello è prenderci gusto</span>
          </div>
          <div class="subtitlesection">
            <span>Ordina online dai tuoi ristoranti preferiti</span>
          </div>
        </div>
        <div class="searchbar">
          <input type="text" class="search" id="firstname" />
          <label class="label" for="firstname"> Indirizzo di consegna </label>
          <button type="submit" class="button-search">
            Trova i ristoranti!
          </button>
        </div>
      </section>
    </div>
  </body>
</html>
