<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Just Eat!</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="nav"></div>

    <div class="main-wrapper">
      <div class="side-wrapper">
        <div class="pop">
          <div class="up">
            <div class="address">
            <img
              src="../../Assets-just eat/Cards/icons8-region-50.png"
              alt=""
            /><span>Via del Corso, 26845</span></div><span class="city">Codogno</span>
          </div>
          <div class="link"><a href="#">Cambia Zona</a></div>
        </div>
        <div class="sidebar"></div>
      </div>
      <div class="content-wrapper">
        <div class="form" id="form">
          <img
            src="../../Assets-just eat/Cards/icons8-ricerca-50.png"
            alt=""
          /><input
            id="focus"
            type="search"
            placeholder="Cerca per cucina o ristorante"
            class="search"
          />
        </div>
        <div class="sub-form">
          <div class="sub-form-item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="c-ficon c-ficon--info"
            >
              <path
                d="M12 .133A11.867 11.867 0 1 0 23.867 12 11.882 11.882 0 0 0 12 .133ZM10.852 10.76h2.296v5.834h-2.296V10.76Zm2.68-3.354a1.532 1.532 0 1 1-3.064 0 1.532 1.532 0 0 1 3.063 0Z"
              ></path></svg
            ><span>6 ristoranti aperti</span>
          </div>
          <div class="sub-form-item">
            Ordinato per Consigliati
            <svg
              id=""
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 10"
              class="c-ficon c-ficon--sort"
            >
              <path
                d="M.44.89a.44.44 0 0 1 0-.89h15.12a.44.44 0 0 1 0 .89H.44zm0 4.44a.44.44 0 0 1 0-.89h9.78a.44.44 0 1 1 0 .9H.44zm0 4.45a.44.44 0 0 1 0-.9H4.9a.44.44 0 1 1 0 .9H.44z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="card-wrapper">
          <!-- INIZIO CARD -->
          <div class="card">
            <img src="../../Assets-just eat/Cards/1.jpg" alt="" />
            <div class="card-right">
              <div class="card-title">
                <h5>Adore - Gelateria Artigianale</h5>
              </div>
              <div class="card-info">
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-star-48.png"
                      alt=""
                    />
                    <p>5.40/6 (209)</p>
                  </div>
                  <div class="info-item">
                    <p>Dolci - Gelato</p>
                  </div>
                </div>
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-region-50.png"
                      alt=""
                    />
                    <p>1.0 km</p>
                  </div>
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-cash-64.png"
                      alt=""
                    />
                    <p>Consegna: GRATIS</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FINE CARD -->
          <!-- INIZIO CARD -->
          <div class="card">
            <img src="../../Assets-just eat/Cards/3.webp" alt="" />
            <div class="card-right">
              <div class="card-title">
                <h5>Burger King</h5>
              </div>
              <div class="card-info">
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-star-48.png"
                      alt=""
                    />
                    <p>5.40/6 (209)</p>
                  </div>
                  <div class="info-item">
                    <p>Hamburger - Fast Food</p>
                  </div>
                </div>
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-region-50.png"
                      alt=""
                    />
                    <p>1.0 km</p>
                  </div>
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-cash-64.png"
                      alt=""
                    />
                    <p>Consegna: GRATIS - Ordine Minimo: 10€</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FINE CARD -->
          <!-- INIZIO CARD -->
          <div class="card">
            <img src="../../Assets-just eat/Cards/2.jpg" alt="" />
            <div class="card-right">
              <div class="card-title">
                <h5>Gryko Gyros</h5>
              </div>
              <div class="card-info">
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-star-48.png"
                      alt=""
                    />
                    <p>5.40/6 (209)</p>
                  </div>
                  <div class="info-item">
                    <p>Etnico - Fast Food</p>
                  </div>
                </div>
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-region-50.png"
                      alt=""
                    />
                    <p>1.0 km</p>
                  </div>
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-cash-64.png"
                      alt=""
                    />
                    <p>Consegna: GRATIS - Ordine Minimo: 10€</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FINE CARD -->
          <!-- INIZIO CARD -->
          <div class="card">
            <img src="../../Assets-just eat/Cards/4.webp" alt="" />
            <div class="card-right">
              <div class="card-title">
                <h5>MC Donald's</h5>
              </div>
              <div class="card-info">
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-star-48.png"
                      alt=""
                    />
                    <p>5.40/6 (209)</p>
                  </div>
                  <div class="info-item">
                    <p>Hamburger - Fast Food</p>
                  </div>
                </div>
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-region-50.png"
                      alt=""
                    />
                    <p>1.0 km</p>
                  </div>
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-cash-64.png"
                      alt=""
                    />
                    <p>Consegna: GRATIS - Ordine Minimo: 10€</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FINE CARD -->
          <!-- INIZIO CARD -->
          <div class="card">
            <img src="../../Assets-just eat/Cards/5.webp" alt="" />
            <div class="card-right">
              <div class="card-title">
                <h5>Pizzeria Pippo - Food 'n' Grill</h5>
              </div>
              <div class="card-info">
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-star-48.png"
                      alt=""
                    />
                    <p>5.40/6 (209)</p>
                  </div>
                  <div class="info-item">
                    <p>Pizzeria - Rosticceria</p>
                  </div>
                </div>
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-region-50.png"
                      alt=""
                    />
                    <p>1.0 km</p>
                  </div>
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-cash-64.png"
                      alt=""
                    />
                    <p>Consegna: GRATIS - Ordine Minimo: 10€</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FINE CARD -->
          <!-- INIZIO CARD -->
          <div class="card">
            <img src="../../Assets-just eat/Cards/6.webp" alt="" />
            <div class="card-right">
              <div class="card-title">
                <h5>PokèParole</h5>
              </div>
              <div class="card-info">
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-star-48.png"
                      alt=""
                    />
                    <p>5.40/6 (209)</p>
                  </div>
                  <div class="info-item">
                    <p>Pokè - Fast Food</p>
                  </div>
                </div>
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-region-50.png"
                      alt=""
                    />
                    <p>1.5 km</p>
                  </div>
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-cash-64.png"
                      alt=""
                    />
                    <p>Consegna: GRATIS - Ordine Minimo: 10€</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FINE CARD -->
          <!-- INIZIO CARD -->
          <div class="card">
            <img src="../../Assets-just eat/Cards/8.jpg" alt="" />
            <div class="card-right">
              <div class="card-title">
                <h5>Damar Dolci</h5>
              </div>
              <div class="card-info">
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-star-48.png"
                      alt=""
                    />
                    <p>5.40/6 (209)</p>
                  </div>
                  <div class="info-item">
                    <p>Spesa</p>
                  </div>
                </div>
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-region-50.png"
                      alt=""
                    />
                    <p>1.0 km</p>
                  </div>
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-cash-64.png"
                      alt=""
                    />
                    <p>Consegna: GRATIS - Ordine Minimo: 10€</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FINE CARD -->
          <!-- INIZIO CARD -->
          <div class="card">
            <img src="../../Assets-just eat/Cards/5.webp" alt="" />
            <div class="card-right">
              <div class="card-title">
                <h5>America Pizza</h5>
              </div>
              <div class="card-info">
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-star-48.png"
                      alt=""
                    />
                    <p>5.40/6 (209)</p>
                  </div>
                  <div class="info-item">
                    <p>Etnico - Pizza</p>
                  </div>
                </div>
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-region-50.png"
                      alt=""
                    />
                    <p>3.0 km</p>
                  </div>
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-cash-64.png"
                      alt=""
                    />
                    <p>Consegna: GRATIS - Ordine Minimo: 10€</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FINE CARD -->
          <!-- INIZIO CARD -->
          <div class="card">
            <img src="../../Assets-just eat/Cards/3.webp" alt="" />
            <div class="card-right">
              <div class="card-title">
                <h5>Burger King - Via Mazzini</h5>
              </div>
              <div class="card-info">
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-star-48.png"
                      alt=""
                    />
                    <p>5.40/6 (209)</p>
                  </div>
                  <div class="info-item">
                    <p>Hamburger - Fast Food</p>
                  </div>
                </div>
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-region-50.png"
                      alt=""
                    />
                    <p>1.0 km</p>
                  </div>
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-cash-64.png"
                      alt=""
                    />
                    <p>Consegna: GRATIS - Ordine Minimo: 10€</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FINE CARD -->
          
        </div>
      </div>
    </div>
  </body>
</html>
