<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Eat!</title>
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
<div class="nav"></div>

<div class="main-wrapper">
<div class="side-wrapper">
    <div class="pop-up"></div>
    <div class="sidebar"></div>
</div>
<div class="content-wrapper">
    <div class="form"></div>
    <div class="sub-form"></div>
    <div class="card-wrapper"></div>
</div>


</div>
    
</body>
</html>