<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Just Eat!</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="nav"></div>

    <div class="main-wrapper">
      <div class="side-wrapper">
        <div class="pop"></div>
        <div class="sidebar"></div>
      </div>
      <div class="content-wrapper">
        <div class="form"></div>
        <div class="sub-form"></div>
        <div class="card-wrapper">
          <div class="card">
            <img src="../../Assets-just eat/Cards/213118.jpg" alt="" />
            <div class="card-right">
              <div class="card-title">
                <h5>Adore - Gelateria Artigianale</h5>
              </div>
              <div class="card-info">
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-star-48.png"
                      alt=""
                    />
                    <p>5.40/6 (209)</p>
                  </div>
                  <div class="info-item">
                    <p>Dolci - Gelato</p>
                  </div>
                </div>
                <div class="info-content">
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-region-50.png"
                      alt=""
                    />
                    <p>1.0 km</p>
                  </div>
                  <div class="info-item">
                    <img
                      src="../../Assets-just eat/Cards/icons8-cash-64.png"
                      alt=""
                    />
                    <p>Consegna: GRATIS - Ordine Minimo: 10€</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
