:root{
    --color-primary: #fb6100;     
    --color-title: #242e30;     
    --color-subtitle: #425457;     
    --color-border: #8a8786;
    }
    
    body {
        margin:0;
        padding:0;
        background-color: #fb6100;
    }
    
    
    nav .navbar{
        display: flex;
        padding: 10px;
        background-color: white;
        width: 100%;
        height: 65px;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-right {
        max-width: 500px;
    
    }
    
    
    .navbar .nav-right > .nav-button {
        display: flex;
        gap: 10px;
        padding: 10px;
        align-items: center;
        
    }
    
    .nav-button-items button {
        display: flex;
        align-items: center;
        height: 45px;     
        max-height: 45px;     
        width: 100%;     
        max-width: 220px;
    }
    
    .nav-button-items  button {
        border: none;
        border-radius: 25px;
        background-color: white;
        gap: 3px;
        font-weight:600;
        letter-spacing: 0.1px;
        font-size: 13px;
    
    }
    
    .nav-button-items button svg {
        width: 1.7rem;
    }
    
    .nav-button-items > button:hover {
        background-color: #f5f3f1;
        cursor: pointer;
    }
    
  